<h2>Pipes</h2>
{{pessoa}}<br>
{{pessoa | json}}<br>
{{pessoa.nome | uppercase}}<br>
{{pessoa.nome | lowercase}}<br>
{{curso.concluido | percent}}<br>
{{pessoa.nasc | date: 'dd/MM/yyyy'}}<br>
{{curso.valor | currency: 'BRL': true}}<br>
{{pessoa.nome | slice: 1:3}}<br>
{{pessoa | json | uppercase}}
<br>
<br>
<br>
<br>
<h2>Formulario</h2>
{{formCadastro.valid}}
{{formCadastro.value | json}}
<form #formCadastro="ngForm">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" ngModel minlength="5" required pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" class="form-control" id="nome" name="nome">
    </div>
    <div class="form-group">
        <label for="rua">Rua:</label>
        <input type="text" ngModel class="form-control" id="rua" name="rua">
    </div>
    <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" ngModel class="form-control" id="senha" name="senha">
    </div>
    <button (click)="checkForm(formCadastro.value)" [disabled]="formCadastro.invalid" type="submit" class="btn btn-success">Enviar</button>
</form>
